.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginCard {
  width: 80%;
  max-width: 600px;
}

.select {
  text-align: left;
}
