.card {
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.header {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input {
  text-align: left;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
