.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 80%;
  max-width: 600px;
}

.select {
  text-align: left;
}

.select .rbt-input-wrapper {
  background-color: red !important;
}
