.modalContainer {
  width: 90vw;
  min-width: 300px;
  max-width: 1300px;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.modalContainer Table {
  font-size: calc(0.3rem + 0.7vw);
  margin: 0;
}

.sideBar {
  align-items: center;
  height: fit-content;
}

.editPrefs:hover {
  cursor: pointer;
  color: hsla(210, 100%, 50%);
}

.form {
  width: 100%;
}
.buttons {
  margin-left: 10px;
}

.date {
  width: 60% !important;
  min-width: 200px !important;
}

@media only screen and (max-width: 1050px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
