.wrapper {
  padding: 20px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.accordion {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 700px;
}

.accordionSummary {
  flex-direction: column !important;
}

.modalWrapper {
  padding: 10px;
}

.modalWrapper ul {
  list-style: none;
}

.modalWrapper .eventCardBody {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalHeader {
  width: 95%;
  margin: auto;
  text-align: center;
}

.badgeEvent {
  margin-top: 8px;
  text-align: left;
}

.noSessionMessage {
  text-align: center;
}

.eventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.bold {
  font-weight: bold;
  color: hsl(0, 0%, 70%);
}

.addEvent {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.newEventWrapper {
  text-align: center;
}

.newEvent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.selectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: left;
}

.time {
  flex-basis: 30%;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sliders {
  flex-basis: 60%;
}

.sparringDuration {
  width: 60% !important;
}

.sliderLabel {
  display: flex;
  justify-content: space-between;
}

.dropdowns {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.dropdown {
  flex-basis: 100%;
}

.dropdowns .css-b62m3t-container {
  width: 40%;
}

.radioNotesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.radioCard {
  flex-direction: row !important;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.newEventFields {
  display: flex;
  flex-direction: row;
}

.checkBoxCard {
  flex-direction: row !important;
  gap: 10px;
}

.saveContainer {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.notes {
  width: 100%;
}
.notes textarea {
  min-height: 100px !important;
}
